.transactionItemMain{
    height:50px;
    border-bottom-width: 1px;
    border-bottom-color: rgba(128, 128, 128, 0.315);
    border-bottom-style: solid;
    padding-right: 20px;
}

.transactionItemCategoryIconSpace{
width:50px;
height:50px;
display:flex;
align-items: center;
justify-content: center;
float:left;
}

.transactionItemCategoryIcon{
width:35px;
}

.transactionItemTitle{
width: calc(100% - 165px);
float:left;
height:100%;
display: flex;
align-items: center;
padding-left: 15px;
font-size: 18px;
}

.transactionItemAmount{
    display: flex;
align-items: center;
justify-content: right;

height: 100%;
width:100px;
font-size: 18px;
}